/*login 登陆*/
.flex-1{flex: 1; -moz-box-flex: 1; -ms-flex: 1; -webkit-flex: 1;}
.login{ position:fixed;z-index: 9999; padding: 0 .45rem; top:50%; left:50%; -webkit-transform:translate(-50%,-50%);width: 100%;}
.login_header{ background: #ed7e00;width: 100%; padding:0 0 .35rem 0;border-radius:.2rem .2rem 0 0;}
.login_header img{ width: 1.14rem; height: 1.1rem; margin: 0 auto}
.login_header p.close{ text-align: right; padding: .35rem .3rem 0rem 0;}
.login_header p.close img{ width: .32rem; height: .32rem; display: inline-block;}
.login_header dd{ width: 2rem; text-align: center; margin: 0 auto; color: #fff; padding-top: .1rem;}
.login_header dd p{color: #fff; font-size:0.28rem}
.login_content{ background: #fff; padding: .54rem;border-radius: 0 0 .2rem .2rem;}
.login_content dl{ height: .68rem; border:#E0E0E0 1px solid; border-radius: .5rem; margin-bottom: .15rem;}
.login_content dl dt{ margin:.18rem 0 0 .2rem;}
.login_content dl dt img{ width: .34rem; height: .34rem;}
.login_content dl input{ height: .66rem; line-height: .66rem; border:none; width: 80%; background: none; }
.login_content .code_btn{ font-size: .24rem; width: 1.62rem;
	margin-left: .16rem; line-height: .66rem;height: .66rem; padding: 0 .2rem; border:#ed7e00 1px solid !important; color: #ed7e00; border-radius: .5rem;}
.login_content ul li{ margin-top: .3rem; height: .8rem; line-height: .8rem; font-size: .3rem; border-radius: .5rem; width: 100%; text-align: center;}
.login_content ul li.login_register{ background: #ed7e00; border:#ed7e00 1px solid; color: #fff;}
.login_content ul li.login_close{ border:#E0E0E0 1px solid; color: #666;}
.login_content button:enabled:active{ background: none; color: #ed7e00;}
.login_content .change{ text-align: right; color: #333; padding-top: .2rem;}
.login_content .change span{color: #ed7e00; padding: 0 .05rem;}
.login_content .go_login{ display: none;}
.blackBg_public{background: rgba(0,0,0,.5);position: fixed;width: 100%;z-index: 999;top: 0;bottom: 0;}
.no_srocll{width: 100%;position: fixed;}